/resources/
/opengl/licenta/Release/
/opengl/licenta/Debug/
/opengl/licenta/licenta/Release/
/opengl/licenta/licenta/Debug/
/opengl/licenta/.vs/
/opengl/licenta/licenta/pixels.txt
/gui/prelucrating.txt